html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/bg.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 46%, rgba(219,219,219,1) 62%, rgba(219,219,219,1) 62%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(209,209,209,1) 46%,rgba(219,219,219,1) 62%,rgba(219,219,219,1) 62%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%,rgba(209,209,209,1) 46%,rgba(219,219,219,1) 62%,rgba(219,219,219,1) 62%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*-------------Opened Cards bg---------------------*/

.deck .card.backpack.open {
    background: url("../img/backpack.png");
}

.deck .card.tent.open {
    background: url("../img/tent.png");
}

.deck .card.skull.open {
    background: url("../img/skull.png");
}

.deck .card.compass.open {
    background: url("../img/compass.png");
}

.deck .card.firelog.open {
    background: url("../img/firelog.png");
}

.deck .card.bush.open {
    background: url("../img/bush.png");
}

.deck .card.shoe.open {
    background: url("../img/shoe.png");
}

.deck .card.cacti.open {
    background: url("../img/cacti.png");
}

/*---------------Matched Cards bg-------------------*/

.deck .card.backpack.card-face.match {
    background: url("../img/backpack.png");
}

.deck .card.tent.card-face.match {
    background: url("../img/tent.png");
}

.deck .card.skull.card-face.match {
    background: url("../img/skull.png");
}

.deck .card.compass.card-face.match {
    background: url("../img/compass.png");
}

.deck .card.firelog.card-face.match {
    background: url("../img/firelog.png");
}

.deck .card.bush.match.card-face.match {
    background: url("../img/bush.png");
}

.deck .card.shoe.card-face.match {
    background: url("../img/shoe.png");
}

.deck .card.cacti.card-face.match {
    background: url("../img/cacti.png");
}

/*----------------------------------*/

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.deck .card.locked {
    pointer-events: none;
}

.clock {
    height: 0.5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: block;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

